
@font-face {
    font-family: "early-gameboy-regular";
    src: url(../fonts/Early\ GameBoy.ttf);
}
.me-auto{
    margin: 0;
}

.navbar-expand-lg .navbar-collapse {
justify-content: flex-end;
margin-right: 1rem;
}
/* Botón volver arriba */
.boton-arriba-contenedor{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;

}
.volver-arriba{
    width: 0rem;
    height: 0rem;
    background-color: #3BB081;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transition: .2s;
    transform: translate(-50%,50%);
}
.volver-arriba i{
    position: absolute;
    font-size: 1rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%,50%) scale(0);
    color: white;
    transition: .2s;
}
.show{
    z-index: 10;
    transform: translateX(125px);
}
.show .volver-arriba{
    animation: popop .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
}
.show i{
    transform: translate(-50%,-50%) scale(1);
}
@keyframes popop {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 2rem;
        height: 2em;
    }
    100%{
        width: 4rem;
        height: 4rem;
    }
}

/* Sección Banner */
.col-md-6{
    display: flex;
    align-items: center;
}
#banner-imagen img{
    width: 15rem;
}
.texto-banner{
    text-align: center;
}
.svg-c{
    width: 14rem;
    position: absolute;
    transform: translateY(-13rem);
    left: -4rem;

}
.circulo{
    stroke:#3BAD7F;
    stroke-width:11;
    stroke-dasharray:500;
    stroke-dashoffset:500;
    animation: animacion 4s ease-in-out alternate infinite;
  }
  @keyframes animacion{
    to{
      stroke-dashoffset:0;
      stroke-dasharray:0;
    }
  }
#etiqueta2{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#etiqueta2 img{
    width: 6rem;
    position: absolute;

}
.etiquetas img{
    width: 6rem;
    position: absolute;
    transform: translateX(15rem);
}
#boton-start{
    display: flex;
    justify-content: center;
    align-items: center;
}
#boton-start img{
    width: 12rem;
    transition: all 0.3s ease-in-out;
}
#boton-start img:hover{
   transform: scale(1.2);
   
}
.texto-banner h2{
    font-family: "early-gameboy-regular";
    font-size: 1.5rem;
    color: #3BB081;
}
.texto-banner h4{
    font-family: "early-gameboy-regular";
    font-size: 1.3rem;
    color: white;
    
}
.texto-banner h5{
    font-family: "early-gameboy-regular";
    font-size: 1rem;
    color: white;
}
.texto-banner h5 span{
    color: #3BB081;
}
.col-6{
    display: flex;
    align-items: center;
}
#banner-imagen img{
    width: 28rem;
}
#row{
    margin-top: 4rem !important;
}

li.nav-item a{
   font-family: "early-gameboy-regular";
   color: white !important;
   font-size: 0.9rem;
   transition: all 0.3s ease-in-out;
}
li.nav-item a:hover{
color: #FFAB03 !important;
}


a#proyectos.nav-link{
    color: #3BB081 !important;
}
a#proyectos.nav-link:hover{
    color: #FFAB03 !important;
}
#banner{
    background-color: #17233B ;
    position: relative;
}
.ondas img{
    width: 100%;
    bottom: -12rem;
    position: absolute;
}


 /* Sección sobre mí */
 .titulos-seccion{
    text-align: center;
    padding-top: 15rem;
    font-family: "early-gameboy-regular";
    color: white;
}
 .sobre-mi{
     background-color: #17233B;
 }
.ondas2 img{
    position: absolute;
    width: 100%;

}
.etiquetas3 img{
    width: 6rem;
    position: absolute;
    transform: translateX(8rem);
}
/* Seccion proyectos */

.titulos-seccion2{
        text-align: center;
        padding-top: 6rem;
        font-family: "early-gameboy-regular";
        color: white;
}

.card{
    margin-top: 1rem;
    background-color: #2E4063 !important;
    box-shadow:  0px 9px 32px -1px #3BAD7F;
    opacity: 0.3;
    transition: all 0.3s ease-out;
    margin: auto;
}
.card:hover{
    opacity: 1;
    transform: scale(1.1);
    box-shadow:  0px 9px 50px -1px #3BAD7F;

}

.imagen-presentacion{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}
img#foto-tarjeta{
    width: 8.5rem;
}
.card-title{
    text-align: center;
    font-family: "early-gameboy-regular";
    font-size: 1.3rem;
    color: white;    
}
.card-title span{
 color: #FFAB03; 
}
.card-text{
    text-align: justify;
    border-bottom: 1px solid #FFAB03;
    padding-bottom: 2rem;
    color: white;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
}
.card-text span{

    color: #3BAD7F;
}
h2.card-tittle{
    font-family: 'Montserrat', sans-serif ;
    text-align: center;
    font-size: 0.9rem;
    color:#D5DCD9;
}
.row p{
    font-family: 'Montserrat', sans-serif ;
    color: #D5DCD9;
}
.proyectos{
    background-color: #17233B;
}
.botones{
    width: 100%;
}
.boton-pagina{
    padding:0.8rem;
    background-color: #FFAB03;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    margin-top: 0.5rem;
    transition: all 0.3s ease-in-out; 
}
.boton-pagina:hover{
    background-color:#FFBD3A;
    color: white;
}

.boton-repo {
    padding:0.8rem;
    background-color: #3BAD7F;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}
.boton-repo:hover{
    color: white;
    background-color:#33D996 ;
}
p.card-text{
    margin-bottom: 1.5rem;
}
/* Seccion Contacto */
.titulos-seccion3{
    text-align: center;
    font-family: "early-gameboy-regular";
    color: white;
}
.contacto{
    background-color: #17233B ;
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.formulario{
    text-align: center;
    margin-top:1rem;
}
.input{
    width: 50%;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    border: none;
}
textarea.mensaje{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 1rem;
    outline: none;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;

    
}
textarea.mensaje:hover{
    box-shadow:  0px 9px 50px -1px #3BAD7F;

}
input::placeholder{
    font-family:'Montserrat', sans-serif ;
    font-size: 0.8rem;
}
.input:hover{
    box-shadow:  0px 9px 50px -1px #3BAD7F;

}
textarea::placeholder{
    font-family:'Montserrat', sans-serif ;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.8rem;
}
.boton-enviar{
    width: 20%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #3BAD7F;
    border: none;
    outline: none;
    border-radius: 1rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.boton-enviar:hover{
    background-color: #33D996;
}
/* Footer */
.footer{
    height: 15vh;
    background-color: #091123;
}
.iconos{
    text-align: center;
    padding:1rem;
}
.iconos a{
text-decoration: none;
color: white;
font-size: 1.2rem;
transition: all 0.3s ease-in-out;
}
.iconos a:hover{
 color: #3BAD7F;
}

.texto-footer h2{
    text-align: center;
    font-size: 0.8rem;
    color: white;
}
.texto p{
    font-size: 0.7rem;
}
.navbar>.container-fluid{
    justify-content: flex-end !important;
}

/* Media Queries */

@media screen and (max-width:378px){
    #banner-imagen img{
        width: 22rem;
        display: flex;
        margin: auto;
    }
    .texto-banner h2{
        font-size: 4rem;
    }
    .texto-banner h4{
        font-size: 1.4rem;
    }
    .texto-banner h5{
        font-size: 1rem;
    }
    .svg-c{
        width: 10rem;
        transform: translateY(-15rem);
    }
    .ondas{
        display: none;
    }

}

@media screen and (max-width:600px){
    #banner-imagen img{
        width: 20rem;
        display: flex;
        margin: auto;
    }
    .texto-banner h2{
        font-size: 1.8rem;
    }
    .texto-banner h4{
        font-size: 1rem;
    }
    .texto-banner h5{
        font-size: 0.9rem;
    }
    .svg-c{
        width: 10rem;
        transform: translateY(-15rem);
    }
    .ondas{
        display: none;
    }
    .card:hover{
        transform: scale(0.9);
    }

}

@media screen and (max-width:1199px){
    #banner-imagen img{
        width: 18rem;
    }
    .texto-banner h2{
        font-size: 1.5rem;
    }
    .texto-banner h4{
        font-size: 0.9rem;
    }
    .texto-banner h5{
        font-size: 0.8rem;
    }
    .svg-c{
        width: 10rem;
        transform: translateY(-16rem);
    }
    .ondas{
        display: none;
    }
    .col-md-6{
        display: block;
    }
    #row{
        margin-top: 5em !important;
    }
    .card{
        margin-top: 2rem;
    }
    .titulos-seccion{
        padding-top: 3rem;
    }
    #habilidades p{
        font-size: 0.7rem;
    }
    

}


@media screen and (max-width:900px){
    .boton-enviar{
        width: 48%;
    }
    .input{
        width: 87%;

    }
    textarea.mensaje{
        width: 87%;
    }
    .etiqueta3 img{
        display: none;
    }
    #etiqueta2 img{
        transform: translateY(-22px);
    }
    .etiquetas3 img{
        display: none;
    }
    .card{
        margin-top: 2rem;
    }
    .titulos-seccion{
        padding-top: 3rem;
    }
    #banner-imagen img{
        display: flex;
        margin: auto;
    }
}


@media screen and (min-width:200px) and (max-width:350px) {
    #banner-imagen img{
        width: 15rem;
        display: flex;
        margin: auto;
    }
    .texto-banner h2{
        font-size: 1.5rem;
    }
    .texto-banner h4{
        font-size: 0.7rem;
    }
    .texto-banner h5{
        font-size: 0.6rem;
    }
    .svg-c{
        width: 10rem;
        transform: translateY(-16rem);
    }
    .ondas img{
        top: 41.5rem;
    }
    #row{
        margin-top: 2em !important;
    }
    .titulos-seccion{
        padding-top: 11rem;
    }
    .card:hover{
        transform: scale(0.9);
    }
    .etiquetas img{
        width: 4rem;
    }
    #habilidades p{
        font-size: 0.7rem;
    }
}


